p{
  text-align: center;
  font-size: 20px;
}
br{
  text-align: center;
}
body{
  margin:0;
}
  a {
    color:gray;
    text-decoration: none;
  }
  h1{
    font-size: 50px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
  }
  ol{
    border-right:1px solid gray;
    width:200px;
    margin:0;
    padding:30px;
    font-size:20px;
  }
  h2{
    font-size: 45px;
    text-align: center;
  }
  h3{
    font-size:35px;
    text-align: center;
  }
  #grid{
    display: grid;
    grid-template-columns:200px 1fr;
  }
  /*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  ##Device = 대부분의 스마트폰 모바일 기기(세로)
  ##Screen = 320px에서 479px 사이
  */

  @media (min-width: 320px) and (max-width: 480px) {
    #grid{
      display:block;
    }
    ol{
      border-right:none;
    }
  
  //
