p{
  text-align: center;
  font-size: 20px;
}
br{
  text-align: center;
}
body{
  margin:0;
}
  a {
    color:gray;
    text-decoration: none;
  }
  h1{
    font-size: 50px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
  }
  ol{
    border-right:1px solid gray;
    width:200px;
    margin:0;
    padding:30px;
    font-size:20px;
  }
  h2{
    font-size: 45px;
    text-align: center;
  }
  h3{
    font-size:35px;
    text-align: center;
  }
  #grid{
    display: grid;
    grid-template-columns:200px 1fr;
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #grid{
    display:block;
  }
  ol{
    border-right:none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
